
<%# test d'une photo cloudinary en display sur localhost:3000/dogs %>
<%= cl_image_tag("qd2ngefcpsykehj9toyk",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("zfykzvcawjoae52d4o4z",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("xmfqol17pvltvog9ubfo",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("kfvuey9td83gukrk0aqs",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("lvaktwypdaaphqurtw39",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("jldyh98qtjn8ojaxwlik",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("xcua2ab7uulghednb8bp",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("cojpefzl62hpslzv5d3r",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("rfotnqdb3rl65fqjpnlk",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("y7zwhva2ljh5mrvufczu",
      width: 400, height: 300, crop: :fill) %>


<% @dogs.each do |dog| %>
<li>
<%= dog.name %>
<br>
<%= dog.race %>
<br>
<%= dog.disponibility %>
<br>
<%= link_to dog.name, dog_path(dog) %>
<hr>
</li>
<% end %>
<%= render "shared/new_dog_form" %>
