<div class="big-dog-show-container">

  <div class="name-race-container">
    <h1><%= @dog.name %></h1>
    <p><%= @dog.race %></p>
  </div>


  <div class="dog-pictures-container">

    <div class="big-picture-container">
      <%= cl_image_tag("qd2ngefcpsykehj9toyk", width: 580, height: 510, crop: :fill, class: "big-dog-card") %>
    </div>
    <div class="four-pictures-container">
      <%= cl_image_tag("qd2ngefcpsykehj9toyk", width: 290, height: 250, crop: :fill, class: "small-card-dog") %>
      <%= cl_image_tag("qd2ngefcpsykehj9toyk", width: 290, height: 250, crop: :fill, class: "small-card-dog", id: "top-right-dog-card") %>
      <%= cl_image_tag("qd2ngefcpsykehj9toyk", width: 290, height: 250, crop: :fill, class: "small-card-dog") %>
      <%= cl_image_tag("qd2ngefcpsykehj9toyk", width: 290, height: 250, crop: :fill, class: "small-card-dog", id: "bottom-right-dog-card") %>
    </div>

  </div>





<p>
Age : <%= @dog.age %> year(s) old
<hr>
Available on :<%= @dog.disponibility %>
<hr>
<%= @dog.description %>
<hr>
Address : <%= @dog.address %>
<hr>
Rating : <%= @dog.rating %>/5
<hr>
</p>
<hr>
<div class="booking-card">
  <p>
    Price :
    <%= @dog.price %>
    US$
  </p>
  <%= link_to "Book the dog", new_dog_booking_path(@dog), class: "booking-btn" %>
</div>
<!-- <%= render "shared/new_dog_form" %>
<%= link_to "Delete", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> -->

</div>
