<div class="containter d-flex flex-column m-5 gap-3">
  <h1>Add a booking</h1>
  <div class="d-flex gap-2">
    <div class="col-6 gap-5 d-flex flex-column pe-3">
      <div class="border rounded p-4">
        <div class="float-start">
          <h4>This is a rare find.</h4>
          <p><%= @dog.name %> helped 300 buddies find their loves!</p>
        </div>
        <div class="rounded-3 float-end">
          <%= image_tag "star.gif", height: "70px" %>
        </div>
      </div>
      <div>
        <%= simple_form_for [@dog, @booking] do |f| %>
          <%= f.input :date, as: :string, placeholder: "Choose a date",
            input_html: { data: { controller: "datepicker" }} %>
          <%= f.submit "Book your buddy", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="p-3 col-6 card me-2 rounded">
      <div class="card-body">
        <div class="d-flex gap-10">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQgByBT5IiAT_a2x9pUVb4VMoOrlzHH7Jrzj-HB5jzHlR4lNLMS"
          alt="dog's photo" class="rounded-3 float-start" style="width: 100px; height: 100px;">
          <div class="ms-5">
            <h4><%= @dog.name %></h4>
            <p><%= @dog.rating %> ⭐️ (53 reviews) • <%= @status %></p>
          </div>
        </div>
        <hr>
        <h3>Price details</h3>
        <div class="d-flex justify-content-between">
          <div>
            <p>Rental fee</p>
            <p>Services fee</p>
            <p>Taxes</p>
          </div>
          <div>
            <p><%= @dog.price %>€</p>
            <p><%= @services_fee %>€</p>
            <p><%= @taxes %>€</p>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <div>
            <p><strong>Total</strong></p>
          </div>
          <div>
            <p><%= @total %>€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
