<link href="https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap" rel="stylesheet">

<div class="container d-flex p-5">
  <div>
    <h1>Your reservation</h1>
    <hr>
    <p>Your next date with <%= @booking.dog.name %> is on <%= @booking.date %></p>
    <p><strong>Here is a message from <%= @booking.dog.name %> :</strong></p>
    <div class="d-flex justify-content-around gap-3">
      <p id="bubble-chat">Thank you, <%= @booking.user.username %> for booking me. Let's have fun and I will do my best to find a perfect girl/guy/they/them for you</p>
    </div>
    <div>
      <img id="happy-dog-gif" src="https://64.media.tumblr.com/tumblr_lzvby6xiXI1qg6rkio1_500.gifv" alt="funny GIF" width="35%">
    </div>
  </div>
  <div>
    <div class="btn-danger-container">
      <%= link_to "Cancel your booking", user_booking_path(@booking.user, @booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-danger-styled-link"  %>
      <%= link_to "Cancel your booking", user_booking_path(@booking.user, @booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-danger-styled-link"  %>

    </div>
  </div>
</div>
<div></div>
