<div class="row">
      <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog), class:"col-3" do %>
        <div class="card">
          <% dog.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= dog.name %></h5>
            <p class="card-text"><%= dog.race %></p>
            <p class="card-text">Book now for <%= dog.price %> €</p>
            <p class="card-text"><%= dog.disponibility %></p>
          </div>
        </div>
      <% end %>
      <% end %>
</div>
