<div class="row">
      <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog), class:"col-3", data: { turbo_frame: "_top" } do %>
        <div class="card">
          <span class="card-btn"></span>
          <span class="card-index">.....</span>
          <div class="card-images">
            <% dog.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 288, width: 302, crop: :fill %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-text-bold"><%= dog.name %></h5>
            <p class="card-text"><%= dog.race %></p>
            <h5 class="card-text-bold">Book now for <%= dog.price %> €</h5>
            <p class="card-text"><%= dog.disponibility %></p>
          </div>
        </div>
      <% end %>
      <% end %>
</div>
