<div class="row">
      <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog), class:"col-3", data: { turbo_frame: "_top" } do %>
        <div class="card">
          <%= cl_image_tag("qd2ngefcpsykehj9toyk", width: 200, height: 150, crop: :fill) %>
          <div class="card-body">
            <h5 class="card-title"><%= dog.name %></h5>
            <p class="card-text"><%= dog.race %></p>
            <p class="card-text">Book now for <%= dog.price %> €</p>
            <p class="card-text"><%= dog.disponibility %></p>
          </div>
        </div>
      <% end %>
      <% end %>
</div>
