<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path , class: "" do %>
      <%= image_tag "giphy.gif", height: "70px" %>
    <% end %>

    <%= turbo_frame_tag "search_form", id: "form-height" do%>
      <%= form_with url: root_path, method: :get, local: false, data: { turbo_frame: "dogs" }, class: "", id: "form-height" do %>
        <div id="search-navbar" >
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Browse all Tail Waggers",
                id: "search-navbar-input"
            %>
          <%= submit_tag "", name: "", class: "btn btn-link", id: "search-navbar-btn" %>
        </div>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "5e535c97550b761e38f7f4cd_peep-94.png", class: "avatar", alt: "dropdown menu", id: "Avatar-Icon" %>
            <%= image_tag "211614_down_b_arrow_icon.png", class: "avatar", id: "dropdown-arrow" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="dropdown-list" >
              <%= link_to "Home", root_path, class: "dropdown-item", id: "dropdown-li" %>
              <%= link_to "My Bookings", user_bookings_path(current_user), class: "dropdown-item", id: "dropdown-li" %>
              <%= link_to "Check my profile", user_path(current_user), class: "dropdown-item", id: "dropdown-li" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", id: "dropdown-li" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
