<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path , class: "" do %>
      <%= image_tag "giphy.gif", height: "70px" %>
    <% end %>

    <%= turbo_frame_tag "search_form", id: "form-height" do%>
      <%= form_with url: root_path, method: :get, local: false, data: { turbo_frame: "dogs" }, class: "", id: "form-height" do %>
        <div id="search-navbar" >
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Browse all Tail Waggers",
                id: "search-navbar-input"
            %>
          <%= submit_tag "", name: "", class: "btn btn-link", id: "search-navbar-btn" %>
        </div>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "5e535c97550b761e38f7f4cd_peep-94.png", class: "avatar", alt: "dropdown menu", id: "Avatar-Icon" %>
            <%= image_tag "211614_down_b_arrow_icon.png", class: "avatar", id: "dropdown-arrow" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="dropdown-list" >
              <%= link_to "Home", root_path, class: "dropdown-item", id: "dropdown-li" %>
              <%= link_to "My Bookings", user_bookings_path(current_user), class: "dropdown-item", id: "dropdown-li" %>
              <%= link_to "Check my profile", user_path(current_user), class: "dropdown-item", id: "dropdown-li" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", id: "dropdown-li" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="navbar" id="second-nav" >
  <%= turbo_frame_tag "second_nav_frame", id: "form-height" do %>
    <%= form_with url: root_path, method: :get, local: false, data: { turbo_frame: "dogs" }, class: "", id: "second-nav-form" do %>
      <div class="navbar" id="second-nav">
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="">
          <%= image_tag "3775238_animal_dog_grooming_pet_shampoo_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Washed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Big Doggy">
          <%= image_tag "6366332_animal_breed_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Big Doggy</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Sick Doggy">
          <%= image_tag "3775240_animal_dog_medical_patient_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Sick Doggy</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Dalmatian">
          <%= image_tag "6366337_animal_breed_dalmatian_dog_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Dalmatian</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Beagle">
          <%= image_tag "6366320_animal_beagle_breed_dog_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Beagle</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Husky">
          <%= image_tag "6366344_animal_basenji_breed_dog_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Husky</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Chihuahua">
          <%= image_tag "6366335_breed_chihuahua_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Chihuahua</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Bull Terrier">
          <%= image_tag "6366318_breed_bull terrier_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Bull Terrier</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="English Bulldog">
          <%= image_tag "6366334_breed_chihuahua_dog_long hair_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>English Bulldog</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Shiba Inu">
          <%= image_tag "6366322_breed_dog_inu_japan_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Shiba Inu</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Purebred">
          <%= image_tag "6366343_breed_dog_pedigree_pet_purebred_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Purebred</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Miniature Pedigree">
          <%= image_tag "6366340_animal_breed_dog_miniature_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Miniature Pedigree</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366333_animal_breed_canine_dog_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Malinois">
          <%= image_tag "3775255_animal_canine_cute_dog_doggy_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Malinois</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366324_animal_breed_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366317_animal_breed_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366323_animal_breed_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366328_breed_chihuahua_dog_long hair_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366345_animal_basenji_breed_dog_pedigree_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
        <button type="submit" id="second-nav-btn" class="btn" name="query" value="Breed">
          <%= image_tag "6366342_animal_breed_dog_pedigree_pet_icon.svg", class: "", alt: "", id: "", size: "40x40" %>
          <p>Breed</p>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
